@font-face {
    font-family: 'Windows 95';
    src: url('../fonts/w-95-sans-serif.woff2') format('woff2'),
         url('../fonts/w-95-sans-serif.woff') format('woff');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Windows 95', sans-serif;
    cursor: url('../imgs/cursors/Normal.png'), auto;
}

html, body {
    height: 100%;
    font-family: inherit;

}

.desktop {
    position: relative;
    background-color: #008080;
    min-height: calc(100% - 36px);
    width: 100%;
}

@media (min-width: 481px) {
    .desktop {
        min-height: calc(100% - 40px);
    }
}

@media (min-width: 768px) {
    .desktop {
        min-height: calc(100% - 50px);
    }
}